service vendor.bluetooth-samsung /vendor/bin/hw/android.hardware.bluetooth-service.samsung
    class hal
    capabilities BLOCK_SUSPEND NET_ADMIN SYS_NICE
    user bluetooth
    group bluetooth
    task_profiles HighPerformance
